.sp_pills{
    min-width: 10%;
    float:left
}

#flashContent{
    display: inline-block;
}

.selector-components {
    display: inline-block;
    padding : 5px 5px 5px 5px;
    float:left;
    border: solid  1px #619BD4;
    /*border-top-left-radius : 7px;*/
    /*border-bottom-left-radius : 7px;*/
}
selector-pills :hover {
    background-color: skyblue;
}

#pillsContainer{
    border: solid 2px #619BD4;
    border-radius : 7px;
    /*display: inline-block;*/
    overflow-x : auto;
    width: 400px;
    min-height: 25px;
    padding : 5px 5px 5px 5px;
    margin : 5px 5px 0px 5px;
}

#arrow {
    display: inline-block;
    padding : 5px 5px 5px 5px;
    float:left;
    border: solid  1px #619BD4;
    border-top-right-radius : 7px;
    border-bottom-right-radius: 7px;
}

#optionList{
    border: solid 2px #619BD4;
    border-radius : 7px;
    padding : 5px 5px 5px 5px;
    margin : 0px 5px 5px 5px;
}
ul{
    list-style-type: none;
    margin: 5px;
    /*line-height: 100%;*/
    padding:0;
}

ul li{
    font-size: 15px;
    padding:5px;
}

li:hover{
    cursor:pointer;
    background-color: rgba(12, 99, 207, 0.69);
    color: #FAFFFE;
}

.searchC{
    width : 95%;
    padding : 5px 5px 5px 5px;
    border-radius : 7px;
    border: solid 2px #c8c2c4;
    min-height: 20px;
}

#searchFilter{
    width : 90%;
    padding : 5px 5px 5px 5px;
    min-height: 15px;
    border: none;
}
